	<div class="slider-overlay">
		<div class="slider">
			<img src="{{url}}" alt="">
			<div class="button__block">
				<div>
					<button class="img-next" type="button">&#60;</button>
					<button class="img-prev" type="button">&#62;</button>
				</div>
				<div>
					<button class="img-fav" type="button">&#9733;</button>
				</div>	
				<div>
					<button class="img-close" type="button">&#120;</button>
				</div>	
			</div>
		</div>
	</div>