/* ==================================================
Adaptive
================================================== */

/*_________________ Header-block __________________*/

@media screen and (max-width: 960px){
    .navigation a{
        display: none;
    }
    .navigation .menu-icon{
        display: block;
        font-size: 25px;
    }

    .navigation.responsive{
        position: relative;
        top: 50px;
        left: 0px;
    }

    header .navigation.responsive{
        height: 200px;
    }
    
    nav{
        width: 20%;
        text-align: right;
    }

    .navigation.responsive .menu-icon{
        position: absolute;
        top: -50px;
        right: 0px;
    } 
    .navigation.responsive a{
        display: block;
        text-align: left;
    }

/*_________________ Main-block __________________*/

    .main-about{
        flex-direction: column;
    }

    .main-about .info-block{
        width: 100%;
    }

    .main-about .sidebar-about{
        width: 100%;
    }

    .about-list{
        flex-direction: row;
        padding: 0;
    }

    .item-link{
        width: 25%;
        text-align: center;
        border: 1px solid #333333;
        padding: 0;
        font-size: 16px;
    }
}


@media all and (max-width: 768px) {
    .block-header_top{
        font-size: 36px;
        margin-bottom: 8px;
    }
    
    .block-header_slave{
        font-size: 28px;
    }
        
    .item-link{
        font-size: 13px;
    }
    .about-title,
    .activity-block-title,
    .history-block-title,
    .structure-block-title,
    .activity-block-subtitle,
    .activity-list-toptitle,
    .history-block-list_item,
    .structure-text-header
    {
        font-size: 14px;
    }
    .structure-block-text,
    .history-block-text,
    .about-text-block{
        font-size: 13px;
        
    }
    
    .activity-text-header,
    .activity-block-text,
    .activity-list-item{
        font-size: 13px;
    }
.block-wrapper{
    flex-wrap: wrap;
}

.leadership-navigation{
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.leadership-icon{
    min-width: 14.2%;
}
.leadership-img{
    min-width: 100%;
}

.personal-list{
    border-left: 10px;
    border-bottom: 2px;
}
.personal-info-block{
    font-size: 13px;
}
.person-position{
    line-height: 15px;
}
.person-dressings{
    font-size: 11px;
    line-height: 15px;
}

.person-photo{
    width: 180px;
}
.gallery-button{
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-top: 15px;
    font-size: 12px;
}
    

.contact-block-inside{
    flex-direction: column;
}

.contact-form-block{
    margin-bottom: 15px;
}
.contact-form .contact_name,
.contact-form .contact_email,
.contact-form .contact_message {
	font-size: 16px;
}
.contact-form .contact_message::placeholder{
    font-size: 16px;}
.contact-form .contact_name,
.contact-form .contact_email{
	line-height: 40px;
}
.contact-form .contact_message{
    height: 180px;
    line-height: 30px;
    padding: 10px 0 10px 10px;
}
.form-submit_button{
align-self: center;
width: 120px;
height: 40px;
line-height: 40px;
margin-top: 15px;
font-size: 12px;
}
.modal-window{
    border: 2px solid #DE5E60;
}
.unit-top-text{
    font-size: 16px;
}
.unit-down-text{
    font-size: 14px;
}
.unit-text{
    font-size: 12px;
    line-height: 20px;
}

.contact-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    margin-top: 20px;
}
.contact-details div,
.contact-details a{
    max-width: 16%;
}

.contact-details span{
    display: none;
}
.slider-visible{
    display: none;
}
.mil-gov-address{
	margin-top:0;
}

.contact-details a:hover img{
	background-color: #3A8885;
	opacity: 1;
	padding: 7px;
	transition: .7s all;
}

.contact-details a:hover{
	background-color: rgba(1,1,1,0);
	color: #3A8885;
	/* border: 1px solid #3A8885; */
	margin: 0; 
	transition: .7s all;
}
.mail-address{
    display: none;
}

}

@media all and (max-width: 480px) {
    .wrap {
        padding: 0 1% 0 1%;
        margin: 0 1% 0 1%;
    }
    nav{
        display: none;
    }
    .headers{
        margin: 20px 0 20px 0;
    }
    .header-menu{
        justify-content: center;
    }
    .block-header_top{
        font-size: 32px;
        margin-bottom: 8px;
    }
    
    .block-header_slave{
        font-size: 24px;
    }
        
    .item-link{
        font-size: 9px;
        font-weight: 600;
    }
    .leadership-img{
        width: 20px;
    }
    .about-title,
    .activity-block-title,
    .history-block-title,
    .structure-block-title{
        margin: 10px 0 10px 0;
        color: #DE5E60;
        font-weight: 800;
        line-height: 20px;
        
    }
    .about-title::after,
    .activity-block-title::after,
    .history-block-title::after,
    .structure-block-title::after{
        content: "";
        display: none;
        }
    .about-text-block,
    .activity-text-header,
    .activity-block-text,
    .activity-list-toptitle,
    .activity-list-item,
    .history-block-text,
    .history-block-list_item,
    .structure-text-header,
    .structure-block-text{
        line-height: 19px;
        font-size: 11px;
    }
    .photo-block-item{
        flex: auto;
        margin: .5vw;
        width: 100px;
    }
    .photo-block-img{
       vertical-align: middle;
    }
    .structure-items-block{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .structure-item-img{
        width: 120px;
    }
    .person-photo{
        width: 140px;
    }
    .personal-info-block p{
        font-size: 9px;
        line-height: 17px;    
    }
    .personal-info-block .person-dressings{
        line-height: 10px; 
        font-size: 8px;
    }
    .modal-window{
        height: 60%;
    }
    .unit-text{
        font-size: 10px; 
    }
    .gallery-item{
        flex: auto;
        margin: .5vw;
        width: 100px;
    }
    .contact-form .contact_name,
.contact-form .contact_email,
.contact-form .contact_message {
	font-size: 13px;
}
.contact-form .contact_message::placeholder{
    font-size: 13px;
}
}   