/* ==================================================
	Footer
================================================== */
footer{
	border-top: 1px dotted #DE5E60;
	background: #26292E;
}

footer .footer-block {
	height: 60px;
}

footer .footer-text {
	font-family: 'Jura', sans-serif;
	line-height: 60px;
	text-align: center;
}

.footer-link{
	text-decoration: none;
	color: #DE5E60;
}
