/* ==================================================
	Footer
================================================== */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.to-top {
  position: relative;
  width: 150px;
  border: 75px solid transparent;
  border-bottom: 50px solid rgba(127, 130, 137, 0.3);
  opacity: 0.9;
  transition: 0.5s all;
}

.to-top::after {
  content: 'TOP';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: rgb(221, 173, 16);
  font-family: 'Comfortaa', cursive;
}

.to-top:hover {
  border-bottom: 50px solid rgb(221, 173, 16);
  opacity: 1;
  transition: 0.5s all;
}

.to-top:hover::after {
  color: #ffffff;
  transition: 0.5s all;
}

.footer {
  width: 100%;
  border-top: 1px dotted rgb(221, 173, 16);
  background: rgba(0, 0, 0, 0.7);
}

footer .footer-block {
  height: 60px;
}

footer .footer-text {
  font-family: 'Jura', sans-serif;
  line-height: 60px;
  text-align: center;
}

.footer-text >.footer-link {
  text-decoration: none;
  color: rgb(221, 173, 16);
}
