/* ==================================================
	Basic Styles
================================================== */

* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  padding-top: 30px;
  height: 100%;
  position: relative;
}

html,
hmtl a {
  width: 100%;
  font-size: 100%;
}

body {
  background-image: url(/src/img/fon/fon.jpg);
  color: #7f8289;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}

button {
  cursor: pointer;
}

button:focus {
  cursor: pointer;
  border: none;
  outline: none;
}

.wrap {
  max-width: 85%;
  margin: 0 auto 0 auto;
  margin: 0 auto;
}

/*_________________ Buttons __________________*/
button {
  margin: 0 auto 0 auto;
  width: 160px;
  height: 50px;
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  line-height: 50px;
  background-color: rgba(11, 11, 11, 0.1);
  color: #7f8289;
  border: 2px solid rgb(221, 173, 16);

  transition: 0.8s all;
}

button:hover {
  background-color: rgb(221, 173, 16);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.8s all;
  color: #ffffff;
  opacity: 1;
}

/*_________________ Links __________________*/

a {
  text-decoration: none;
}

a:visited {
  color: #7f8289;
}

a:link {
  color: #7f8289;
}

.main_alert {
  position: absolute;
  display: block;
  z-index: 200;
  margin: 20px 0 0 20px;
  font-family: 'Play', sans-serif;
  font-weight: 800;
  color: #de5e60;
}
