@media screen and (max-width: 1440px) {
  .about-text {
    font-size: 20px;
  }
  .advantag-item {
    width: 170px;
    height: 170px;
    border-radius: 45px;
  }
  .advantag-item:hover:before, .advantag-item:hover:after {
    width: 170px;
    height: 170px;
    border-radius: 45px;
  }
  .advantag-img {
    width: 60px;
    margin-bottom: 15px;
    }
  .member-item {
    flex: 0 0 16.666%;
    max-width: 16.666%;
  }
  .member-item-img {
    width: 150px;
  }
  .slider-wrapper {
    height: 350px;
  }
  .member-item-text {
    font-size: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .wrap {
    min-width: 94%;
  }
  .top-headder-svg{
    width: 700px;
  }
  .list-item-link {
    font-size: 24px;
    transition: 0.5s all;
  }
  .top-header {
    font-size: 11vh;
  }
  .about-text {
    font-size: 18px;
  }
 

  .member-item {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .member-item-name {
    font-size: 22px;
  }
  .slider-wrapper {
    height: 305px;
  }
  .member-item-text {
    font-size: 12px;
  }
  .contact_name,
  .contact_email,
  .contact_message {
    font-size: 20px;
  }
}

@media all and (max-width: 960px) {
  .wrap {
    min-width: 98%;
  }
  .menu-list {
    justify-content: space-between;
    padding: 0 10px 0 10px;
  }
  .top-headder-svg{
    width: 500px;
  }
  .advantages {
    flex-wrap: wrap;
  }
  .fifth-element{
    display: none;
    transition: 0.5s all;
  }
  .advantag-item {
    min-width: 120px;
  }
  .advantag-header {
    font-size: 14px;
  }
  .member-item {
    flex: 0 0 25%;
    max-width: 25%;
  }
  #gallery-container {
    padding: 3px;
  }
}

@media all and (max-width: 768px) {
  .wrap {
    min-width: 80%;
  }
  .menu-list {
    justify-content: space-between;
  }
  .top-headder-svg{
    width: 400px;
  }
  .advantages {
    justify-content: center;
  }
  .advantag-item {
    margin: 5px;
  }
  .link-display {
    display: none;
  }
  .main-img {
    margin-top: 30px;
  }
  .bottom-header {
    font-size: 16px;
  }
  .about-wrap {
    padding-left: 5%;
    padding-right: 5%;
  }

  .demo-wrapper {
    max-width: 100%;
  }
  #gallery-container {
    background: none;
  }
  .member-item {
    flex: 0 0 33%;
    max-width: 33%;
  }
  .member-item-img {
    width: 130px;
  }
  .contact_name,
  .contact_email,
  .contact_message {
    width: 85%;
    font-size: 16px;
  }
  .social-section {
    width: 85%;
  }
  .social-img{
    width: 60px;
  }
}

@media all and (max-width: 480px) {
  .top-headder-svg{
    width: 250px;
  }
  .top-subheader {
    font-size: 14px;
  }
  .bottom-header {
    font-size: 12px;
  }
  .to-down-img {
    width: 30px;
  }

  .block-header-text {
    font-size: 32px;
    margin: 40px auto 20px auto;
  }
  .block-header-subtext {
   font-size: 24px;
   margin: 25px auto 12px auto;
  }

  .about-text {
    font-size: 13px;
  }

  .advantag-item {
    margin: 2%;
    width: 120px;
    height: 120px;
    border-radius: 30px;
  }
  .advantag-item:hover:before, .advantag-item:hover:after {
    display: block;
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 30px;
  }
  @keyframes clockwise {
    0% {
      top: -3px;
      left: 0;
    }
    12% {
      top: -1px;
      left: 1px;
    }
    25% {
      top: 0;
      left: 3px;    
    }
    37% {
      top: 1px;
      left: 1px;
    }
    50% {
      top: 3px;
      left: 0;    
    }
    62% {
      top: 1px;
      left: -1px;
    }
    75% {
      top: 0;
      left: -3px;
    }
    87% {
      top: -1px;
      left: -1px;
    }
    100% {
      top: -3px;
      left: 0;    
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -3px;
      right: 0;
    }
    12% {
      top: -1px;
      right: 1px;
    }
    25% {
      top: 0;
      right: 3px;    
    }
    37% {
      top: 1px;
      right: 1px;
    }
    50% {
      top: 3px;
      right: 0;    
    }
    62% {
      top: 1px;
      right: -1px;
    }
    75% {
      top: 0;
      right: -3px;
    }
    87% {
      top: -1px;
      right: -1px;
    }
    100% {
      top: -3px;
      right: 0;    
    }
  }
  .advantag-img {
    width: 60px;
    margin-bottom: 10px;
    }
  
  .advantag-header {
    text-align: center;
    font-size: 10px;
    line-height: 12px;
  }


  .member-item {
    flex: 0 0 33,333%;
    max-width: 33,333%;
  }
  .member-item-img {
    width: 100px;
  }
  .contact_name,
  .contact_email,
  .contact_message {
    width: 85%;
  }
  .social-section {
    width: 85%;
  }
  #gallery-container{
    display: none;
  }
  .small-gallery{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
  }
  .gallery-image{
  display: block;    
  max-width: 100%;    
  height: auto;
  padding: 5px;
  margin: 2% 4%;
  background-color: rgba(11, 11, 11, 0.9);
  border: 1px solid rgb(221, 173, 16);
  border-radius: 5px;

}
  
  .callback-text{
    font-size: 16px;
  }
  .social-section {
    width: 280px;
  }
  .social-img {
    width: 50px;

    transition: 0.5s all;
  }
  .social-img:hover{
    transform: scale(1.3);
    transition: 0.5s all; 
  }
  .form-submit_button{
    width: 120px;
    font-size: 14px;
  }
}

@media all and (max-width: 320px) {
  .top-headder-svg{
    width: 250px;
  }
}